pushup_dataset/
pushup_frames/
dataset_video/
frames/
dataset_video
frames
data/clean_jerk/sample_videos/input.mp4
data/clean_jerk/frames_30fps/
data
frames_30fps
frames_30fps_front/
cj_sorted_output/
uploads/
logs/
temp_videos/

# Virtual Environments
venv/
venv1/
perform_env_312/
.venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.installed.cfg
*.egg
*.sqlite3
db.sqlite3

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db